<h1>Welcome!</h1>
<p>Find your next pet or check your adoption profile.</p>
<%= link_to 'View Pets', pets_path, class: 'btn btn-primary' %>
<%= link_to 'My Profile', edit_user_registration_path, class: 'btn btn-secondary' %>
