<turbo-stream action="append" target="global-toast">
  <template>
    <div id="calendar-redirect-trigger" data-redirect-url="<%= organization_events_path(@organization) %>"></div>
  </template>
</turbo-stream> 