<%= render 'shared/navbar_org' %>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Create New Site</h1>
        <%= link_to "Back to Sites", organization_sites_path(@organization), class: "btn btn-secondary" %>
      </div>

      <%= render 'form', site: @site %>
    </div>
  </div>
</div>
